<div class="chat-card pf2e kingdom">
    <header class="card-header flexrow">
        <h3>Income: Collect Taxes</h3>
    </header>
    <p>{{localize "PF2E.Kingmaker.Kingdom.CollectDialog.Description" dice=formula}}</p>
    <ul>
    {{#each commodities as |value slug|}}
        <li>{{value}} {{localize (concat "PF2E.Kingmaker.Kingdom.Commodity." slug)}}</li>
    {{/each}}
    </ul>
    <button type="button" data-action="kingdom-collect">
        {{localize "PF2E.Kingmaker.Confirm"}}
    </button>
</div>
