<div class="chat-card pf2e kingdom">
    <header class="card-header flexrow">
        <h3>Upkeep: Determine Stability</h3>
    </header>
    <p>Attempt a {{formula}} Stability check. If you succeed, Unrest decreases by 1.<br>(If this would reduce Unrest below 1, add 1 BP to your Treasure instead.)
    <br>If you fail by 4 or less, Unrest increases by 1.<br>If you fail by 5 or more, Unrest increases by 1d4.</p>
    <button type="button" data-action="kingdom-determineStability" data-visibility="owner">
        {{localize "PF2E.Kingmaker.Confirm"}}
    </button>
</div>
