<div class="chat-card pf2e kingdom">
    <header class="card-header flexrow">
        <h3>Upkeep: Pay Consumption</h3>
    </header>
    <p>Pay {{consumption}} RP to cover monthly consumption?<br>You have {{points}} RP available.</p>
    <p>If you do not have enough RP to pay, Unrest will increase by 2.</p>
    <button type="button" data-action="kingdom-payConsumption" data-visibility="owner">
        {{localize "PF2E.Kingmaker.Confirm"}}
    </button>
</div>
